* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    margin-top: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}

img {
    width: 19%;
    height: auto;
}